<!DOCTYPE html>
<html lang="az" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="sidebar" id="sidebar" th:fragment="sidebar">

    <div class="sidebar-logo">
        <div>
            <a th:href="@{/dashboard}" class="logo logo-normal">
                <img src="/custom/logo/LogosSVG/SS-White-logo.svg" alt="Logo" style="width: 140px">
            </a>

            <a th:href="@{/dashboard}" class="logo-small">
                <img src="/custom/logo/LogosSVG/SS-White-logo.svg" alt="Logo">
            </a>

            <a th:href="@{/dashboard}" class="dark-logo">
                <img src="/custom/logo/LogosSVG/SS-Black-logo.svg" alt="Logo">
            </a>
        </div>

        <button class="sidenav-toggle-btn btn border-0 p-0 active" id="toggle_btn">
            <i class="ti ti-arrow-bar-to-left"></i>
        </button>

        <button class="sidebar-close">
            <i class="ti ti-x align-middle"></i>
        </button>
    </div>

    <div class="sidebar-inner" data-simplebar>
        <div id="sidebar-menu" class="sidebar-menu">
            <ul role="menu" aria-label="Main navigation menu">


                <li>
                    <a th:href="@{/dashboard}" th:classappend="${activeMenu == 'dashboard'} ? 'active' : ''">
                        <i class="ti ti-layout-board"></i><span>Dashboard</span>
                    </a>
                </li>
                <li class="menu-title"><span>Qəbul sistemi</span></li>


                <li class="submenu">
                    <a href="javascript:void(0);" th:classappend="${activeMenuGroup == 'applications'} ? 'active subdrop' : ''">
                        <i class="fa-solid fa-clipboard-user"></i><span>Pasiyent qəbulu</span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul th:style="${activeMenuGroup == 'applications'} ? 'display:block;' : ''">
                        <li><a th:href="@{/ambulatorQebul}">Ambulator</a></li>
                        <li><a href="javascript:void(0);">Stasionar</a></li>
                    </ul>
                </li>

                <li class="submenu">
                    <a href="javascript:void(0);" th:classappend="${activeMenuGroup == 'applications'} ? 'active subdrop' : ''">
                        <i class="fa-regular fa-calendar-days"></i><span>Randevu</span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul th:style="${activeMenuGroup == 'applications'} ? 'display:block;' : ''">
                        <li><a href="javascript:void(0);">Qəbul vaxt təyini</a></li>
                    </ul>
                </li>
                <li class="menu-title"><span>Klinik məlumat sistemi</span></li>

                <li class="submenu">
                    <a href="javascript:void(0);" th:classappend="${activeMenuGroup == 'applications'} ? 'active subdrop' : ''">
                        <i class="fa-solid fa-user-doctor"></i><span>Kliniki sistem</span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul th:style="${activeMenuGroup == 'applications'} ? 'display:block;' : ''">
                        <li><a th:href="@{/ambulatorQebul}">Poliknika</a></li>
                        <li><a href="javascript:void(0);">Stasionar</a></li>
                        <li><a href="javascript:void(0);">Əməliyyatxana</a></li>
                        <li><a href="javascript:void(0);">Radiologiya</a></li>

                    </ul>
                </li>

                <li class="menu-title"><span>Maliyyə sistemi</span></li>


                <li class="submenu">
                    <a href="javascript:void(0);" th:classappend="${activeMenuGroup == 'applications'} ? 'active subdrop' : ''">
                        <i class="fa-solid fa-wallet"></i><span>Maliyyə</span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul th:style="${activeMenuGroup == 'applications'} ? 'display:block;' : ''">
                        <li><a href="javascript:void(0);">Kassa</a></li>
                        <li><a href="javascript:void(0);">Sığorta fakturası</a></li>
                    </ul>
                </li>

                <li class="submenu">
                    <a href="javascript:void(0);" th:classappend="${activeMenuGroup == 'applications'} ? 'active subdrop' : ''">
                        <i class="fa-solid fa-capsules"></i><span>Əczaxana</span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul th:style="${activeMenuGroup == 'applications'} ? 'display:block;' : ''">
                        <li><a href="javascript:void(0);">Hesab-fakturalar</a></li>
                        <li><a href="javascript:void(0);">Aylıq hesabat</a></li>
                        <li><a href="javascript:void(0);">Xəstəyə çıxışlar</a></li>

                    </ul>
                </li>

                <li class="submenu">
                    <a href="javascript:void(0);" th:classappend="${activeMenuGroup == 'applications'} ? 'active subdrop' : ''">
                        <i class="fa-solid fa-money-bill-trend-up"></i><span>Bonus</span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul th:style="${activeMenuGroup == 'applications'} ? 'display:block;' : ''">
                        <li><a href="javascript:void(0);">Həkim bonus</a></li>
                        <li><a href="javascript:void(0);">Reprezant bonus</a></li>
                    </ul>
                </li>

                <li class="menu-title"><span>Laboratoriya sistemi</span></li>


                <li class="submenu">
                    <a href="javascript:void(0);" th:classappend="${activeMenuGroup == 'applications'} ? 'active subdrop' : ''">
                        <i class="fa-solid fa-flask-vial"></i><span>Laboratoriya</span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul th:style="${activeMenuGroup == 'applications'} ? 'display:block;' : ''">
                        <li><a href="javascript:void(0);">Xəstə barkod çapı</a></li>
                        <li><a href="javascript:void(0);">Nümunə qəbulu</a></li>
                        <li><a href="javascript:void(0);">Laborator nəticələr</a></li>
                        <li><a href="javascript:void(0);">Nəticə təsdiqlənməsi</a></li>

                    </ul>
                </li>

                <li class="menu-title"><span>Parametrlər</span></li>

                <li class="submenu">
                    <a href="javascript:void(0);" th:classappend="${activeMenuGroup == 'applications'} ? 'active subdrop' : ''">
                        <i class="fa-solid fa-screwdriver-wrench"></i><span>Admin panel</span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul th:style="${activeMenuGroup == 'applications'} ? 'display:block;' : ''">
                        <li><a href="javascript:void(0);">Əməkdaş və Həkim</a></li>
                        <li><a th:href="@{/parXidmet}">Xidmətlər</a></li>
                        <li><a th:href="@{/parPaket}">Paket</a></li>
                        <li><a href="javascript:void(0);">Qiymət</a></li>
                        <li><a href="javascript:void(0);">Müəssisələr</a></li>
                        <li><a href="javascript:void(0);">Şöbələr</a></li>
                        <li><a href="javascript:void(0);">Anbar</a></li>
                        <li><a href="javascript:void(0);">Tərcümələr</a></li>

                    </ul>
                </li>


                <li class="menu-title"><span>Əlavələr</span></li>


                <li class="submenu">
                    <a href="javascript:void(0);">
                        <i class="ti ti-stack"></i>
                        <span>Klinika məlumat sistemi</span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul>


                        <li class="submenu">
                            <a href="javascript:void(0);">
                                <span>Xəstə qəbulu</span>
                                <span class="menu-arrow inside-submenu"></span>
                            </a>
                            <ul>
                                <li><a th:href="@{/level2/item1}">Ambulator</a></li>
                                <li><a th:href="@{/level2/item2}">Stasionar</a></li>
                            </ul>
                        </li>
                        <li>
                            <a th:href="@{/level1}">Poliklinika</a>
                        </li>
                        <li>
                            <a th:href="@{/level1}">Şöbə</a>
                        </li>
                        <li>
                            <a th:href="@{/level1}">Əməliyyatxana</a>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);">
                                <span>Əczanə</span>
                                <span class="menu-arrow inside-submenu"></span>
                            </a>
                            <ul>
                                <li><a th:href="@{/level2/item1}">Qaimələr</a></li>
                                <li><a th:href="@{/level2/item2}">Aylıq dövriyyə</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>



            </ul>
        </div>
    </div>
</div>
</body>
</html>