<!DOCTYPE html>
<html lang="az" th:lang="${#locale.language}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<head>


<body>
<div layout:fragment="content">

    <!-- Page Header -->
    <div class="d-flex align-items-center justify-content-between gap-2 mb-4 flex-wrap">
        <div class="breadcrumb-arrow">
            <h4 class="mb-1">Xoş gəlmisiz, Admin</h4>
            <p class="mb-0">Ümumi visit məlumatları</p>
        </div>
        <div id="reportrange" class="reportrange-picker bg-white d-flex align-items-center">
            <i class="ti ti-calendar text-body fs-14 me-1"></i><span class="reportrange-picker-field">16 Apr 25 - 16 Apr 25</span>
        </div>
    </div>
    <!-- End Page Header -->

</div>

</body>

</html>